.logo{
    border-radius: 20px;
    border-color: azure;
}
body{
    font-family: 'Teko', sans-serif;
    font-size: 24px;

}
.hm-home{
    color: rgb(210, 61, 96) !important;

}
.nav-bio{
    color: rgb(210, 61, 96) !important;

}
.nav-contact{
    color: rgb(210, 61, 96) !important;

}
.nav-projects{
    color: rgb(210, 61, 96) !important;

}
.navbar ul li a:hover{
    background:white;
    border-radius: 2px;


}
 #display{
     background: url('../imgs/coverr.png.jpg')
     no-repeat center/cover;
     background-attachment: fixed;
     height: 100vh;
     color: white;
     opacity: 0.9;
 }
 .explain{
    padding-bottom: 45px;
    font-family: 'Teko', sans-serif;
    font-size:65px;
    text-align: center;
    padding-top: 20rem;
    
 }
 

 .btn-sm{

    padding: 0.5rem 2rem;
    font-size: 26px;
    font-family: 'Teko', sans-serif;
    text-align: right;
    border-radius: 10px;



 }
 #container{
     text-align: center;
 }
 .container-xl{
    width:100%;
    margin:auto;
    padding: 0 2rem;
    height:80vh;
    text-align: center;
    font-family: 'Teko', sans-serif;
    background-attachment: fixed;


 }
 #navbar{
     background: rgb(0, 0,0,0.7);

 }
#title{
    text-align: center;
}


 section#about{
     background-color: rgb(216, 205, 205);
     background-attachment: fixed;
 }
 section#projects{
    background-attachment: fixed;
     background-color: rgb(176, 171, 171);
     height: 150vh;
 }
#contact{
    padding-top: 15rem;
    height: 150vh;
}

.flex-row{
    padding-top: 3rem;
    justify-content: space-evenly;
    
}

.flex-row #img-card{
    justify-self: flex-end;

}
.card-title{
    text-align: center;
}

#neon{


    animation: neon 3s ease infinite;
    -moz-animation: neon 3s ease infinite;
    -webkit-animation: neon 3s ease infinite;
}
#glow{
    color:  rgb(254, 54, 40);
}
#mac{
   color: rgb(254, 54, 40);
}
#pok{
    color: rgb(245, 94, 84);
}

@keyframes neon {
    0%,
    100% {

      color: rgb(254, 54, 40);
    }
    50% {
      text-shadow: 0 0 .5vw #bfc6df, 0 0 1.5vw #082180, 0 0 5vw #f3f3f6, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: rgb(211, 122, 100);
    }
  }


  .btn {
      text-align: center;
  }

